.post-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.site-hero-logo {
  display: block;
  margin: 0 auto 24px;
  max-width: 360px;
  width: min(60%, 420px);
}

.site-landing {
  text-align: center;
  margin: 48px auto 40px;
  max-width: 720px;
  position: relative;
}

.site-landing::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.site-title-heading {
  font-size: 42px;
  margin: 12px 0 0;
}

.site-tagline {
  font-size: 18px;
  line-height: 1.6;
  color: #4d4d4d;
  max-width: 640px;
  margin: 16px auto 32px;
}

.color-toggle {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 36px;
  right: 48px;
}

.color-toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.color-toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 24px;
  border-radius: 30px;
  background: #d2aa4a;
  display: block;
  position: relative;
  margin: 0;
}

.color-toggle label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.color-toggle input:checked + label::after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.color-toggle label:active:after {
  width: 26px;
}

.toggle-icon {
  width: 24px;
  height: 24px;
}

@media only screen and (orientation: landscape) {
    .post-link {
      display: block;
      font-size: 24px; }

    .post-meta {
      font-size: 14px;
      color: #828282; }

    .toc-category {
      display: inline-block;
      width: 100px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 4px;
      padding-left: 4px; }
}

@media only screen and (orientation: portrait) {
    .post-link {
      display: block; }
    .post-meta {
      font-size: 24px;
      color: #828282; }

    .toc-category {
      display: inline-block;
      width: 200px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 12px;
      padding-left: 12px; }
}


.python .dv {
  color: #0086b3 }

.python .kw {
  color: #a71d5d }

.python .cf {
  color: #a71d5d }

@font-face {
    font-family: MJXc-TeX-math-Iw;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXZERO;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXTEX;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}

.math { font-family: MJXc-TeX-math-Iw }
